<div class="container-fluid">
    <div class="row rowBg">
      <!-- <a href="#" class="btn btn-light px-5 rounded-pill shadow-sm">Learn More</a> -->
      <button type="button" class="btn btn-circle btn-xl" (click)="createIdea()"><i class="glyphicon glyphicon-heart">+
        <span class="tooltiptext">Add Idea</span>
      </i></button>

      <!-- <button class="btn btn-success btn-circle btn-circle-sm m-1"><i class="fa fa-check">+</i></button> -->
            <!-- <button type="button" class="btn btn-light px-5 rounded-pill shadow-sm" (click)="createIdea()">Add idea</button> -->
    </div>
      
    <div class="row">
      <div class="col">
            
  <h4 class="text-muted text-center">Treanding Ideas</h4>

  <div class="container">
    <div class="row">

      <div class=" col-lg-5 col-sm-5 col-12 scrollView">
        <h6 class="text-muted">List Group with Images</h6> 
        <ul class="list-group" >
          <div *ngFor="let item of yourIdeas; let i = index ">
            <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
              <div class="flex-column">
                {{item.title}}
                <p ><small>{{item.categoryId.name}}</small></p>
                <span class="badge badge-info badge-pill">{{item.created|date:"medium"}}</span>
                <span class="pt-4 pl-2 textColr cursorC " (click)="editIdea(item)">edit&#9998;</span>
                <span class="badge  badge-pill cursorC textColr2" (click)="deleteIdea(item)">delete&#10008;
                  </span>
              </div>
              <div class="image-parent">
              <small class="viewBtn" data-toggle="modal" [attr.data-target]="'#view_'+i">View</small>
                  <img src="https://s3.eu-central-1.amazonaws.com/bootstrapbaymisc/blog/24_days_bootstrap/don_quixote.jpg" class="img-fluid" alt="quixote">
              </div>
            </a>
<!-- model open -->

<div class="modal fade product_view" [attr.id]="'view_'+i">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-body coloredDiv">
            <a href="#" data-dismiss="modal" class="class pull-right model_closeBtn"><span class="glyphicon glyphicon-remove">X</span></a>
<!-- Demo header-->
<section class=" header">
  <div class="container py-4">
      <header class="text-center text-white">
          <h1 class="display-4">{{item.title}}</h1>
          <p class="font-italic mb-1">In there you will see all the information about the idea as well as contact details</p>
      </header>


      <div class="row">
          <div class="col-md-3">
              <!-- Tabs nav -->
              <div class="nav flex-column nav-pills nav-pills-custom" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                  <a class="nav-link mb-3 p-3 shadow active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">
                      <i class="fa fa-user-circle-o mr-2"></i>
                      <span class="font-weight-bold small text-uppercase">Subject</span></a>

                  <a class="nav-link mb-3 p-3 shadow" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">
                      <i class="fa fa-calendar-minus-o mr-2"></i>
                      <span class="font-weight-bold small text-uppercase">Description</span></a>

                  <a class="nav-link mb-3 p-3 shadow" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">
                      <i class="fa fa-star mr-2"></i>
                      <span class="font-weight-bold small text-uppercase">Reviews</span></a>

                  <a class="nav-link mb-3 p-3 shadow" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">
                      <i class="fa fa-check mr-2"></i>
                      <span class="font-weight-bold small text-uppercase">Contact Details</span></a>
                  </div>
          </div>


          <div class="col-md-9">
              <!-- Tabs content -->
              <div class="tab-content" id="v-pills-tabContent">
                  <div class="tab-pane fade shadow rounded bg-white show active p-5" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                      <h4 class="font-italic mb-4">Subject and Title</h4>
                      <p class="font-italic text-muted mb-2">Welcome to the entrepreneurship club This section about the information of the title of the idea as well as the subject of the idea why .</p>
                      <h4 class="text-success"> <span class="text-muted font-italic"> Subject of the Idea&#10140;</span> {{item.subject}}</h4>
                      <h4 class="textColr"><span class="text-muted font-italic">Title of the Idea&#10140;</span> {{item.title}}</h4>
                      <p class="badge badge-pill badge-dark"><span class="text-light font-italic">Category or field of the Idea&#10140;</span> {{item.categoryId.name}}</p>

                  </div>
                  
                  <div class="tab-pane fade shadow rounded bg-white p-5" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                      <h4 class="font-italic mb-4">Description</h4>
                      <p class="font-italic text-muted mb-2">{{item.description}}</p>
                  </div>
                  
                  <div class="tab-pane fade shadow rounded bg-white p-5" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
                      <h4 class="font-italic mb-4">Reviews</h4>
                      <p class="font-italic text-muted mb-2">I'm surprised it hadn't shown up, especially as it's actually useful and seems to conform to TA guidelines for theatres. I.e. it's a review of the theatre itself, not of a production at the theatre.
                        *I think the minimal mention of the productions is relevant here - the sound in the space was different. Again, the focus is on the theatre qualities, not the acting, direction, music, etc..</p>
                  </div>
                  
                  <div class="tab-pane fade shadow rounded bg-white p-5" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">
                      <h4 class="font-italic mb-4">Contact Information</h4>
                      <p class="font-italic text-muted mb-2">Email: {{item.userId.email}}</p>
                   <p class="font-italic text-muted mb-2" *ngIf="login.isLoggedIn()">Mobile No:+91{{item.userId.phone}}</p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
          </div>
      </div>
  </div>
</div>
<!-- model close -->

          </div>

         
          <!-- <a href="#" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
            <div class="flex-column">
              As I Lay Dying 
              <p><small>by William Faulkner</small></p>
              <span class="badge badge-primary badge-pill"> 5 Copies in Stock</span>
            </div>
            <div class="image-parent">
                <img src="https://s3.eu-central-1.amazonaws.com/bootstrapbaymisc/blog/24_days_bootstrap/as_I_lay.jpg" class="img-fluid" alt="lay">
            </div>
          </a>
          <a href="#" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center disabled">  
            <div class="flex-column">
              Things Fall Apart
              <p><small>by Miguel de Cervantes</small></p>
              <span class="badge badge-danger badge-pill"> 0 Copies in Stock</span>
            </div>
            <div class="image-parent">
                <img src="https://s3.eu-central-1.amazonaws.com/bootstrapbaymisc/blog/24_days_bootstrap/things_fall_apart.jpg" class="img-fluid" alt="things">
            </div>
          </a> -->
        </ul>
      </div>

      <div class=" col-lg-5 col-sm-5 col-12" *ngIf="add" >
        <h4 class="text-info">Enter the detail to create an Idea</h4>
        <form class="form-signin" #ideaFrom = "ngForm" (ngSubmit)=" saveUser(ideaFrom)">
                <div class="form-label-group">
                 <input type="text"  required name="title" required [(ngModel)]="addIdea.title"  class="form-control " [class.is-invalid]="fullNameControl.invalid && fullNameControl.touched" 
                 [class.is-valid]="fullNameControl.valid" placeholder="Enter Proper title" aria-describedby="helpId" #fullNameControl="ngModel">
                 <span class="invalid-feedback" *ngIf="fullNameControl.invalid && fullNameControl.touched">
                   Title is required
                 </span>
                </div>
               <div class="form-label-group">
                  
                 <input type="text" id="inputEmail" required 
                 #emailcontroler="ngModel" name="subject" id="email" [(ngModel)]="addIdea.subject" class="form-control"
                 [class.is-invalid]="emailcontroler.invalid && emailcontroler.touched"  [class.is-valid]="emailcontroler.touched && emailcontroler.valid"
                   placeholder="Enter Subject or theme" aria-describedby="helpId"> 
         
                 <small id="helpId" class=" invalid-feedback" *ngIf="emailcontroler.errors?.required && emailcontroler.touched">Subject is required</small>
               
                </div> 
                <div class="form-label-group">
                       <input type="text" placeholder="Enter Your Idea in detail" class="form-control" name="description" [(ngModel)]="addIdea.description" #phone="ngModel" [class.is-invalid]="phone.invalid && phone.touched" 
                       [class.is-valid]="phone.touched && phone.valid" required minlength="5" />
                           <span class="invalid-feedback" *ngIf="phone.errors?.required">Description is required</span>
                           <span class="invalid-feedback" *ngIf="phone.errors && phone.errors?.minlength">description must be at least 20 characters</span>
                      </div>
             

               <div class="form-group form-label-group" >
                    <label for="dep" class="control-label" [class.text-danger]="dept.errors?.defaultvalue && dept.touched" [class.text-success]="dept.valid  && dept.touched">Category</label>
                      <select appSelectvalidator ="-1" class="form-control" [class.is-invalid]="dept.touched && dept.invalid" [class.is-valid]="dept.valid && dept.touched"
                       name="categoryId" id="dep" #dept="ngModel"  [(ngModel)]="addIdea.categoryId" required >
                        
                        <option *ngFor="let ite of categories" [value]="ite._id">{{ite.name}}</option>
                      </select>
              
                      <small class="invalid-feedback" *ngIf="dept.touched && dept.errors?.required">Category is required</small>
                    </div>
 
               <button class="btn btn-lg btn-primary btn-block text-uppercase" [disabled]="ideaFrom.invalid" type="submit">Create Idea</button>
               <hr class="my-4">
             
             </form>

</div>


      
<div class="col-lg-5 col-sm-5 col-12" *ngIf="update">
  <h4 class="text-info">Update Your Idea</h4>
  <form class="form-signin" #ideaFrom = "ngForm" (ngSubmit)=" EditIdea(ideaFrom)">
          <div class="form-label-group">
           <input type="text"  required name="title" required [(ngModel)]="addIdea.title"  class="form-control " [class.is-invalid]="fullNameControl.invalid && fullNameControl.touched" 
           [class.is-valid]="fullNameControl.valid" placeholder="Enter Proper title" aria-describedby="helpId" #fullNameControl="ngModel">
           <span class="invalid-feedback" *ngIf="fullNameControl.invalid && fullNameControl.touched">
             Title is required
           </span>
          </div>
         <div class="form-label-group">
            
           <input type="text" id="inputEmail" required 
           #emailcontroler="ngModel" name="subject" id="email" [(ngModel)]="addIdea.subject" class="form-control"
           [class.is-invalid]="emailcontroler.invalid && emailcontroler.touched"  [class.is-valid]="emailcontroler.touched && emailcontroler.valid"
             placeholder="Enter Subject or theme" aria-describedby="helpId"> 
   
           <small id="helpId" class=" invalid-feedback" *ngIf="emailcontroler.errors?.required && emailcontroler.touched">Subject is required</small>
         
          </div> 
          <div class="form-label-group">
                 <input type="text" placeholder="Enter Your Idea in detail" class="form-control" name="description" [(ngModel)]="addIdea.description" #phone="ngModel" [class.is-invalid]="phone.invalid && phone.touched" 
                 [class.is-valid]="phone.touched && phone.valid" required minlength="5" />
                     <span class="invalid-feedback" *ngIf="phone.errors?.required">Description is required</span>
                     <span class="invalid-feedback" *ngIf="phone.errors && phone.errors?.minlength">description must be at least 20 characters</span>
                </div>
       

         <div class="form-group form-label-group" >
              <label for="dep" class="control-label" [class.text-danger]="dept.errors?.defaultvalue && dept.touched" [class.text-success]="dept.valid  && dept.touched">Category</label>
                <select appSelectvalidator ="-1" class="form-control" [class.is-invalid]="dept.touched && dept.invalid" [class.is-valid]="dept.valid && dept.touched"
                 name="categoryId" id="dep" #dept="ngModel"  [(ngModel)]="addIdea.categoryId" required >
                  
                  <option *ngFor="let ite of categories" [value]="ite._id">{{ite.name}}</option>
                </select>
        
                <small class="invalid-feedback" *ngIf="dept.touched && dept.errors?.required">Category is required</small>
              </div>

         <button class="btn btn-lg btn-primary btn-block text-uppercase" [disabled]="ideaFrom.invalid" type="submit">Update Data</button>
         <hr class="my-4">
       
       </form>

</div>
    </div>
    
  </div>

  <!-- <div class="card border-warning m-3" *ngFor="let item of yourIdeas">
    <div class="card-header text-white bg-warning">
        <small> {{item.title}}</small>
        <button type="button" class="btn btn-outline-info float-right mx-2" (click)="editIdea(item)">Edit</button>
        <button type="button" class="btn btn-outline-danger float-right" (click)="deleteIdea(item)">Delete</button>
        <small class="float-right  mx-3" *ngIf="login.isLoggedIn()" > {{item.userId.email}}</small>
       
    </div>
    <div class="card-body text-danger">
      <h5 class="card-title">Subject:{{item.subject}}</h5>
      <p class="card-text">{{item.description}}</p>

      <a routerLink="" class="btn btn-primary float-right" *ngIf="!login.isLoggedIn()" (click)="info()">Contact hacker</a>
    </div>
    <div class="card-footer">
        <small class="text-muted ">{{item.categoryId.name}}</small>
        <small class="text-muted text-center   mx-5 "*ngIf="login.isLoggedIn()"  >+91{{item.userId.phone}}</small>
        
        <small class="text-muted float-right">{{item.created|date:"medium"}}</small>
      </div>
  </div> 
        </div> -->

<!-- <button type="button" class="btn btn-primary" ><i class="fa fa-search"></i> Quick View</button> -->




    </div>  
</div>
