  
  .rowBg{
    background: #7F7FD5;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  }
  
 .form-label-group {
    position: relative;
    margin-bottom: 1rem;
  }
  
  .form-label-group input {
    height: auto;
    border-radius: 2rem;
  }
    
  .btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
    background-color:#ff0266;
    
  }
  .btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 25px;
  }
  .btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 0px 4px 0px 0px;
    font-size: 24px;
    line-height: 0.33;
    border-radius: 35px;
    position: absolute;
    bottom: 15%;
    right: 3%;
    z-index: 2;
     .tooltiptext {
      visibility: hidden;
      width: 132px;
      height: 24px;
      background-color: #000000c7;
      color: #fff;
      text-align: center;
      border-radius: 0px 0px 100px 0px;
      padding: 9px 0;
      position: absolute;
      z-index: 1;
      right: 75%;
      bottom: -21%;
      font-size: 15px;
    }
    &:hover .tooltiptext {
      visibility: visible;
    }
  }
  
   .glyphicon-heart{
font-size:40px;
color:white;
  }
  // only for the content color scheme
  
  .image-parent {
    max-width: 40px;
  }
  .scrollView{
   overflow-y:scroll;
     height:350px;
  }
  // detail page

  .product_view .modal-dialog{max-width: 800px; width: 100%;}
  .pre-cost{text-decoration: line-through; color: #a5a5a5;}
  .space-ten{padding: 10px 0;}


  // fo rht eproduct textContent
  .nav-pills {
  li{
    a {
    border-radius: 4px;
    &.active {
      color: #fff;
      background-color: #337ab7;
  }
  &.active:hover {
    background-color: #337ab7;
  }
    }

   
}
}

.nav{
  li{
    a {
  position: relative;
  display: block;
  padding: 10px 15px;

    color: #337ab7;
    text-decoration: none;
    background-color: transparent;
    &:hover{
      text-decoration: none;
      background-color: #eee;
  
    }
}

  }
}


// custom pils

.coloredDiv{
  background: linear-gradient(to left, #dce35b, #45b649);
}
.nav-pills-custom .nav-link {
    color: #aaa;
    background: #fff;
    position: relative;
}

.nav-pills-custom .nav-link.active {
    color: #45b649;
    background: #fff;
}


/* Add indicator arrow for the active tab */
@media (min-width: 992px) {
    .nav-pills-custom .nav-link::before {
        content: '';
        display: block;
        border-top: 8px solid transparent;
        border-left: 10px solid #fff;
        border-bottom: 8px solid transparent;
        position: absolute;
        top: 50%;
        right: -10px;
        transform: translateY(-50%);
        opacity: 0;
    }
}

.nav-pills-custom .nav-link.active::before {
    opacity: 1;
}

.model_closeBtn{
  float: right;
  border: 2px solid;
  color: white;
  padding: 2px 10px;
  border-radius: 55px;
  font-weight: bolder;
  font-family: cursive;
  font-size: 22px;
  text-decoration: none;
  &:hover{
    background-color:black;
  }
}
.cursorC{
  cursor: pointer;
  color: #e68743;
}
.textColr{
  color: #6aa3e3  !important;
}
.viewBtn{
  color: #b6703f;

  border-radius: 4px;
  border-bottom: 2px solid;
  border-top: 2px solid;
  cursor: pointer;
}
